@page
@model EventIndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Event Page</h1>
    <br>

    @if (User.IsInRole(UserRoles.LosBarriosEventsAdministratorRole))
    {
        <p>
            <a class="display-5 nav-link" asp-page="./Create">Create New Event</a>
        </p>
    }
    <div class="table">
        <table>
            <div class="th">
                <thead>
                    <tr>
                        <th>Event Name</th>
                        <th>Time</th>
                        <th>Date</th>
                        <th>Options</th>
                    </tr>
                </thead>


                <div class="td">
                    <tbody>
                        @foreach (var item in Model.Events)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Time)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Date)
                                </td>
                                <td>
                                    @if (User.IsInRole(UserRoles.LosBarriosEventsAdministratorRole))
                                    {
                                        <a class="tbl-link" asp-page="./Edit" asp-route-id="@item.EventId">Edit</a>
                                        <text> | </text>
                                        <a class="tbl-link" asp-page="./Details" asp-route-id="@item.EventId">Details</a>
                                        <text> | </text>
                                        <a class="tbl-link" asp-page="./Delete" asp-route-id="@item.EventId">Delete</a>
                                        <text> | </text>
                                        <a class="tbl-link" asp-page="../Sessions/Index" asp-route-id="@item.EventId">View Sessions</a>
                                    }
                                    @if (User.IsInRole(UserRoles.LosBarriosEventsStudentRole))
                                    {
                                        <form method="post">
                                            @if (Model.CheckRegistrationStatus(item.EventId))
                                            {
                                                <button type="submit" asp-route-id="@item.EventId">Un-Register</button>
                                                <text> | </text>
                                                <a class="tbl-link" asp-page="../Sessions/Index" asp-route-id="@item.EventId">View Sessions</a>
                                            }
                                            else
                                            {
                                                <button type="submit" asp-route-id="@item.EventId">Register</button>
                                            }
                                        </form>
                                    }
                                    @if (User.IsInRole(UserRoles.LosBarriosEventsSpeakerRole))
                                    {
                                        <a class="tbl-link" asp-page="../Sessions/Index" asp-route-id="@item.EventId">View Sessions</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </div>
        </table>
    </div>
</div>